<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New posts</title>
    <link rel="stylesheet" href="/stylesheet/create.css">
</head>
<body>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="profileInput">
        <input value="saaarang_joshi" name="username" placeholder="Enter username..." class="username">
        <input type="text" name="caption" placeholder="Enter Caption..." class="cap">
        <button>Submit</button>
    </form>
    <script >
       
    </script>
</body>
</html>